<%- include('../adminLayout/header.ejs') %>
<%- include('../adminLayout/sidebar.ejs') %>
<%- include('../adminLayout/navbar.ejs') %>
<div class="main-panel">
   <div class="content-wrapper">
      <div class="row">
         <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
               <div class="card-body">
                  <h3>Distributer List</h3>
                  <div class="table-responsive" style="margin-top: 15px;">
                     <table class="table table-dark">
                        <thead>
                           <tr>
                              <th> No</th>
                              <th> Distributer name </th>
                              <th> Licence number </th>
                              <th> Number </th>
                              <th> Email </th>
                              <th> Action </th>
                           </tr>
                        </thead>
                        <tbody>
                           <% if(distributerData.length> 0){
                              for(let i = 0;i < distributerData.length;i++ ){ %>
                           <tr>
                              <td>
                                 <%= i+1 %>
                              </td>
                              <td>
                                 <%= distributerData[i].distributer_name %>
                              </td>
                              <td>
                                 <%= distributerData[i].licence_number %>
                              </td>
                              <td>
                                 <%= distributerData[i].phonenumber %>
                              </td>
                              <td>
                                 <%= distributerData[i].email %>
                              </td>
                              <td>
                                 <% if(distributerData[i].is_block===true){ %>
                                 <a
                                    href="/admin/unblockdistributer/<%= distributerData[i]._id %>"><button
                                    type="button"
                                    class="btn btn-outline-success btn-sm">Unblock</button></a>
                                 <% }else{ %>
                                 <button type="button" class="btn btn-outline-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal<%= distributerData[i]._id %>">
                                 block
                                 </button>
                                 <% } %>
                              </td>
                           </tr>
                           <!-- Modal -->
                           <div class="modal fade"
                              id="exampleModal<%= distributerData[i]._id %>" tabindex="-1"
                              aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       <h5 class="modal-title fs-5"
                                          id="exampleModalLabel">Block distributer</h5>
                                       <button type="button" class="btn-close"
                                          data-bs-dismiss="modal"
                                          aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                       <p>Are you sure you want to block <%=
                                          distributerData[i].distributer_name %> ?</p>
                                    </div>
                                    <div class="modal-footer">
                                       <a href="/admin/distributerlist"><button
                                          type="button" class="btn btn-secondary"
                                          data-bs-dismiss="modal">Close</button></a>
                                       <a
                                          href="/admin/blockdistributer/<%= distributerData[i]._id %>"><button
                                          type="button"
                                          class="btn btn-primary">yes</button></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <% } } else{ %>
                           <tr>
                              <td colspan="5">Distributer not found</td>
                           </tr>
                           <% } %>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<%- include('../adminLayout/footer.ejs') %>