<%- include('../distributorLayout/header.ejs') %>
  <%- include('../distributorLayout/sidebar.ejs') %>
    <%- include('../distributorLayout/navbar.ejs') %>


      <div class="" style="padding-top: 100px" align-items-center>
        <h1>EDIT CATEGORY</h1>

        <form class="" method="post" action="" id="form">
          <div class="form-group">
            <label for="exampleInputName1">CATEGORY NAME</label>
            <% if (category) { %>
              <input type="hidden" name="id"  value="<%= category._id %>">
              <input type="text" class="form-control"  name="categoryName" id="category"
                value="<%= category.categoryName %>">
                <span class="text-danger" id="category-error"></span>
              <% } %>
          </div>

          <input type="submit" class="btn btn-primary mr-2" value="Submit">
          <a class="btn btn-dark" href="/distributor/category">Cancel</a>
        </form>
      </div>







      <script>
        const form = document.getElementById("form");
        const categoryInput = document.getElementById("category");
        
      
        const categoryError = document.getElementById("category-error");
       
        form.addEventListener("submit", (event) => {
          event.preventDefault();
      
          const categoryValue = categoryInput.value.trim();
          if (!categoryValue) {
            categoryError.textContent = "Please enter a category name";
            return;
          } else {
            categoryError.textContent = "";
          }
          form.submit();
        });
      </script>

      <%- include('../distributorLayout/footer.ejs') %>